<h1>File Browser</h1>

<main>

  <ul id="breadcrumb">
    {{#each breadcrumb}}
      <li><a href='{{this.url}}'>{{this.name}}</a></li>
    {{/each}}
  </ul>

  <hr color="white">

  <section id="file-browser-content">

    <ul id="file-browser-directories">
      {{#each directories}}
        <li><a href='{{this.url}}'>{{this.name}}</a></li>
      {{/each}}
    </ul>

    <ul id="file-browser-videos">
      {{#each videos}}
        <li>
          <a href='{{this.url}}'>{{this.name}}</a>
          {{#if this.progress includeZero=true}}
            [{{this.progress}}%]
          {{/if}}
        </li>
    {{/each}}
    </ul>

  </section>
</main>

{{> footer}}