<video id='video-main' controls>
  <source src='{{src}}' type='video/mp4' />
  <track label='Default subtitles' kind='subtitles' src='{{subtitleSrc}}' default />
</video>

<h1><span id='dir'>{{dir}} /</span> {{name}}</h1>
<a id='bach-button' href='{{back}}'><button>Back</button></a>
<br />
<br />
{{#if nextVideo}}
  <a id='next-button' href='{{nextVideo}}'><button>Next</button></a>
{{/if}}

{{> logout}}

<script>
  const startTime = {{startTime}}
  const nextVideo = "{{nextVideo}}"
</script>
<script src='/scripts/player.js'></script>